
header{
    text-align: center;
    color: white;
    background-color: rgb(8, 8, 236);
    padding: 10px;

}

main{
    text-align: center;
    background-color: rgb(247, 239, 239);
    padding: 10px;
}

footer{
    text-align: center;
    color: white;
    background-color: rgb(17, 17, 219);
    padding: 10px;
}

button{
    background-color: rgb(226, 3, 3);
    border-radius: 20px;
    border: 0px;
    padding: 20px;
}
button:hover{
    background-color: rgb(209, 94, 94);
}