#static {
  background-color: lightblue;
  width: 60px;
  padding: 20px;
  position: static;
}

#fixed {
  background-color: rgb(240, 114, 240);
  width: 60px;
  padding: 20px;
  position: fixed;
  right: 10px;
  top: 10px;
}

#relative {
  background-color: orange;
  width: 60px;
  padding: 20px;
  position: relative;
  left: 10px;
  margin-top: 60px;
}

#container {
  background-color: #eee;
  height: 100px;
  position: relative;
  margin-top: 20px;
}

#absolute {
  background-color: lightgreen;
  width: 60px;
  padding: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}